<div class="upperbox" *ngFor="let detail of allDetails">
  <h1>{{ detail.scenario_title }}</h1> <!-- For scenario details -->
  
  <button id="startbt" mat-flat-button color="warn" (click)="onStartScenario($event)">START</button>
</div>
<div class="parent">
  <div class="childa">
    <div *ngFor="let detail of allDetails"> 
      <h1>Detailed Description </h1>
      <p>{{ detail.individual_scenario_description }}</p> <!-- For client details -->
    </div>
    
    

  </div>
  <div class="childb">
    <!-- This is for the Client Details -->
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <h1>Client Details</h1>
        </mat-expansion-panel-header>
        <div class="innerMostBox">
          <div class="Picture">

          </div>
          <div class="Clientchild">
            <div *ngFor="let details of allDetails">
            <p><b>Name:</b> {{details.client_name}}</p>
            <p><b>Age:</b> {{details.client_age}}</p>
            <p><b>Wife</b>: {{details.wife}}</p>
            <p><b>Wife Age:</b>{{details.wife_age}}</p>
            <p><b>Mother:</b> {{details.mother}}</p>
            <p><b>Mother Age:</b>{{details.mother_age}}</p>
            <p></p>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>


   <!-- This is for the Background Expansion -->
<div class="background">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h1>Background Details</h1>
      </mat-expansion-panel-header>
      <p>
        The funeral was initially for a deceased mother in Coimbatore, India. During the proceedings, a fire broke out due to a generator mishap by Prakash, causing significant casualties. The tragedy left the family and community in shock and raised concerns about negligence during sensitive occasions.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<!-- This is for the Other Details Expansion -->
<div class="OtherDetails">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <h1>Other Details</h1>
      </mat-expansion-panel-header>
      <p>
        Additional details of the incident, including the aftermath, legal implications, and community response, will be provided. The family’s ongoing grief and the involvement of the funeral management company are also part of the larger context of this tragedy.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
