<div class="upperbox" *ngFor="let detail of allDetails">
  <h1>{{ detail.scenario_title }}</h1> <!-- For scenario details -->
  
  <button id="startbt" mat-flat-button color="warn" (click)="onStartScenario($event)">START</button>
</div>
<div class="parent">
  <div class="childa">
    <div *ngFor="let detail of allDetails"> 
      <p>{{ detail.individual_scenario_description }}</p> <!-- For client details -->
    </div>
    
    

  </div>
  <div class="childb">
    <!-- This is for the Client Details -->
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <h1>Client Details</h1>
        </mat-expansion-panel-header>
        <div class="innerMostBox">
          <div class="Picture">

          </div>
          <div class="Clientchild">
            <div *ngFor="let details of allDetails">
            <p>Name: {{details.client_name}}</p>
            <p>Age: {{details.client_age}}</p>
            <p>Wife: {{details.wife}}</p>
            <p>Wife Age:{{details.wife_age}}</p>
            <p>Mother: {{details.mother}}</p>
            <p>Mother Age:{{details.mother_age}}</p>
            <p></p>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>


    <!-- This for the Background Exxpansion -->
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h1>Background Details</h1>
        </mat-expansion-panel-header>
        <p>This is the background details</p>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- //This is for the Other details expansion -->

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h1>Other Details</h1>
        </mat-expansion-panel-header>
        <p>This is the other details</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>