
<div class="back-button-container">
    <button mat-stroked-button color="primary" (click)="goBack()">
      ← Back
    </button>
  </div>




<h1 class="main-title"> Court Clerk</h1>
<div class="definition-container">
    <mat-card class="definition-card">
      <h2>Who is a Court Clerk?</h2>
      <p>
        A <strong>Court Clerk</strong> is a vital administrative officer in the judicial system. They manage and maintain court records, handle court documentation, assist judges, and ensure legal procedures are followed smoothly.
      </p>
    </mat-card>
  
    <mat-card class="definition-card">
      <h2>How Does the Clerk System Work?</h2>
      <ul>
        <li>Receives and files petitions, documents, and evidence from advocates.</li>
        <li>Schedules hearings and manages case calendars.</li>
       
      </ul>
    </mat-card>
  </div>
  
<div class="card-grid">
  <mat-card class="section" *ngFor="let item of courtSections">
    <h2>{{ item.title }}</h2>
    <p>{{ item.description }}</p>

    <ng-container [ngSwitch]="item.inputType">
      <input *ngSwitchCase="'file'" type="file" class="input-field" (change)="onFileSelected($event)" />
      <input *ngSwitchCase="'text'" type="text" class="input-field" [placeholder]="item.placeholder" />
      <input *ngSwitchCase="'number'" type="number" class="input-field" [placeholder]="item.placeholder" />
      <input *ngSwitchCase="'date'" type="date" class="input-field" />
      <textarea *ngSwitchCase="'textarea'" class="input-field" [placeholder]="item.placeholder"></textarea>
      <select *ngSwitchCase="'select'" class="input-field">
        <option *ngFor="let opt of item.options">{{ opt }}</option>
      </select>
    </ng-container>

    <button mat-raised-button color="warn" (click)="uploadFile()">{{ item.buttonText }}</button>
  </mat-card>
</div>
