.dialog-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px; /* adjust as needed */
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }
  