<router-outlet></router-outlet>

<!-- <app-end-assess></app-end-assess> -->
<!-- <app-scenario-assessment></app-scenario-assessment> -->
<!-- <app-scenario-chatbot></app-scenario-chatbot> -->

<!-- <app-clerk></app-clerk> -->
  
<!-- <app-assess-administrative-page></app-assess-administrative-page> -->
 <!-- <app-courtfilings></app-courtfilings> -->
 <!-- <app-dashboard-page></app-dashboard-page> -->
  <!-- <app-logout-page></app-logout-page> -->

<!-- <app-lawaccess></app-lawaccess>
<app-court-officer></app-court-officer> -->
<!-- <app-clientdocument></app-clientdocument> -->
 <!-- <app-instruction-page></app-instruction-page> -->