<div class="content-container">
  <div class="left-sides">
    <h1 class="title">Empower Your Learning Journey</h1>
    <p><i>Join our platform to enhance your legal skills with realistic simulations and expert feedback.</i></p>
    </div>
</div>

<div class="container">
   <div class="left-side">
    <img
    src="https://img.freepik.com/free-vector/graduated-lawyer-concept-illustration_114360-16442.jpg?t=st=1735220094~exp=1735223694~hmac=2d07366618b68f7bff0592fd7c850c6a3ac0707ba414079fe66f9f82216e381e&w=740"
    alt="Graduated Lawyer Concept">
    <!-- <div class="content">
      <h1>Legal Simulation</h1>
      <p>Explore legal scenarios and enhance your skills.</p>
    </div> -->
  </div>

  <mat-card class="login-card">
   <div class="left-side">
    <!-- <img
    src="https://img.freepik.com/free-vector/graduated-lawyer-concept-illustration_114360-16442.jpg?t=st=1735220094~exp=1735223694~hmac=2d07366618b68f7bff0592fd7c850c6a3ac0707ba414079fe66f9f82216e381e&w=740"
    alt="Graduated Lawyer Concept"> -->
    <!-- <div class="content">
      <h1>Legal Simulation</h1>
      <p>Explore legal scenarios and enhance your skills.</p>
    </div> -->
  </div>

    <h2 class="title">Welcome back!</h2>
    <p class="subtitle">Login to your account</p>
    <form (ngSubmit)="login()" class="login-form">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Username:</mat-label>
     
       <input
        matInput
        type="text"
        [(ngModel)]="username"
        name="username"
        aria-label="Username"
        required
      >
    </mat-form-field>
       
      <br>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Password:</mat-label>
         <input
        matInput
        type="password"
        [(ngModel)]="password"
        name="password"
        aria-label="Password"
        required
      ></mat-form-field>
      <br>
      
      <button  mat-stroked-button color="warn">Submit </button>
      <br>
    </form>
    <div class="register">
      <span>Not Registered Yet?</span>
      <a routerLink="/register" routerLinkActive="active" class="create-account">Create an account</a>
    </div>
  </mat-card>
</div>


