button{
    color:white;
    background-color:red;
    border:none;
    text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.6rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 0 15px;
  padding-left: 80px;
  --tw-bg-opacity: 1;
}